<div class="container">
    <div class="row child">
        <div class="col-md-4 child">
            Pittas (Pittidae) are a family of birds found in Asia, Australasia and Africa. There are numerous species in three
            genera, Pitta, Erythropitta and Hydrornis, all similar in general appearance and habits. They are Old World suboscines,
            closely related to the broadbills.
        </div>
        <div class="col-md-4 child">
            Pittas (Pittidae) are a family of birds found in Asia, Australasia and Africa. There are numerous species in three
            genera, Pitta, Erythropitta and Hydrornis, all similar in general appearance and habits. They are Old World suboscines,
            closely related to the broadbills.
            Pittas (Pittidae) are a family of birds found in Asia, Australasia and Africa. There are numerous species in three
            genera, Pitta, Erythropitta and Hydrornis, all similar in general appearance and habits. They are Old World suboscines,
            closely related to the broadbills.
        </div>
        <div class="col-md-4 child">
            Pittas (Pittidae) are a family of birds found in Asia, Australasia and Africa. There are numerous species in three
            genera, Pitta, Erythropitta and Hydrornis, all similar in general appearance and habits. They are Old World suboscines,
            closely related to the broadbills.
            Pittas (Pittidae) are a family of birds found in Asia, Australasia and Africa. There are numerous species in three
            genera, Pitta, Erythropitta and Hydrornis, all similar in general appearance and habits. They are Old World suboscines,
            closely related to the broadbills.
            Pittas (Pittidae) are a family of birds found in Asia, Australasia and Africa. There are numerous species in three
            genera, Pitta, Erythropitta and Hydrornis, all similar in general appearance and habits. They are Old World suboscines,
            closely related to the broadbills.
        </div>
    </div>
</div>