<div class="container">
    <div class="row">
        <div class="col-md-4 child">
            <h3><a href="#">Blog Post Title</a></h3>
            <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
            <p>This error occurs when the structure of the table is updated. ie, either the table column name is changed or some
            columns are removed from that particular table which is currently used for retrieve data. I think in your table Mynew
            any of the columns firstname,lastname,email,password are deleted or it's names are updayed</p>
            <p><a href="#">Read More</a></p>
        </div>
        <div class="col-md-4 child">
            <h3><a href="#">Blog Post Title</a></h3>
            <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
            <p>This error occurs when the structure of the table is updated. ie, either the table column name is changed or some
            columns are removed from that partasdasdasd
            asdasdasd
            asd
            sa
            das
            dasdsadddddddddddddddddd
            sdaicular table which is currently used for retrieve data. I think in your table Mynew
            any of the columns firstname,lastname,email,password are deleted or it's names are updayed</p>
            <p><a href="#">Read More</a></p>
        </div>
        <div class="col-md-4 child">
            <h3><a href="#">Blog Post Title</a></h3>
            <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
            <p>This error occurs when the structure of the table is updated. ie, either the table column name is changed or some
            columns are removed from that particular table which is currently used for retrieve data. I think in your table Mynew
            any of the coluasdddddddddddddddddddddddddddd
            asdddddddddddddddd
            saddsdaaaaaaaamns firstname,lastname,email,password are deleted or it's names are updayed </p>
            <p><a href="#">Read More</a></p>
        </div>
        <div class="col-md-4 child">
            <h3><a href="#">Blog Post Title</a></h3>
            <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
            <p>This error occurs when the structure of the table is updated. ie, either the table column name is changed or some
            columns are removed from that particular table which is currently used for retrieve data. I think in your table Mynew
            any of the casdddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            saddddddddddddddddddddd
            sdaaaaaaaaaaaaaaaaaaaolumns firstname,lastname,email,password are deleted or it's names are updayed </p>
            <p><a href="#">Read More</a></p>
        </div>
        <div class="col-md-4 child">
            <h3><a href="#">Blog Post Title</a></h3>
            <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
            <p>This error occurs when the structure of the table is updated. ie, either the table column name is changed or some
            columns are removed from that particular table which is currently used for retrieve data. I think in your table Mynew
            any of the columns firstname,lastname,email,password are deleted or it's names are updayed </p>
            <p><a href="#">Read More</a></p>
        </div>
        <div class="col-md-4 child">
            <h3><a href="#">Blog Post Title</a></h3>
            <p><small>Posted by <a href="#">Admin</a> on January 1, 2016</small></p>
            <p>This error occuasddddddddddddddd
                asdddrs when the structure of the table is updated. ie, either the table column name is changed or some
            columns are removed from that particular table which is currently used for retrieve data. I think in your table Mynew
            any of the columns firstname,lastname,email,password are deleted or it's names are updayed </p>
            <p><a href="#">Read More</a></p>
        </div>
    </div>
</div>